{% extends "template.html" %}
{% block content %}


<p id="user">
    Hei {{session.username}}! <a href="/logout">kirjaudu ulos</a>
</p>

<h1>Harjoitukset</h1>
<hr>
<ul>
    {% for exercise in exercises %}
    <li><a href="/exercise/{{exercise[1]}}">{{exercise[0]}}</a></li>

    {% endfor %}
</ul>
<hr>
<form action="/add" method="POST">
    Syötä uusi harjoitus:
    <input type="text" name="exercise">
    <br>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}