{% extends "template.html" %}
{% block content %}
<h1>Harjoitukset</h1>
<hr>
<table>
    <tr>
        <th>Harjoitus</th>
        <th>Käyttäjä</th>
    </tr>
    {% for exercise in exercises %}
    <tr>
        <td><a href="/exercise/{{exercise[1]}}">{{exercise[0]}}</a></td>
        <td>{{exercise[2]}}</td>
    </tr>

    {% endfor %}
</table>
<hr>
<form action="/exercise" method="POST">
    Syötä uusi harjoitus:
    <input type="text" name="exercise">
    <br>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}